
.jumbotron {
    background-color: #4ABDAC;
    
}
.container {
    text-align: center;
    width: 100%;
    
}

.row-one {
    width: 50%;
    text-align: center;
    padding: 50px;
    display: inline; 
}
h2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 50px; 
    padding-right: 30px;
}
h1 {
    font-family: 'Mansalva', cursive;
    padding: 10px; 
}
p, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

.icons {
    font-size: 18px; 
}

.button {
    background-color:#F7C331;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .button2 {
    background-color: #4ABDAC;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .button2:hover{
      background-color: #F7C331; 
  }
  .button:hover {
    background-color: #FC4A1A;
  }

  #container-2 {
    
    margin-top: 60px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
  }

  .column-1{
      background-image: url("tomatoes.jpg");
  }
  input {
      padding: 10px; 
      width: 100%; 
      margin-bottom: 10px;   
  }

  form {
    padding: 20%;
  }
  .column-2{
      background-image: url(pantry.jpg);
      min-height: 600px;
      height: auto;
  }
  #pantry-shelves {
      text-align: center; 
  }

 @media only screen and (max-width: 900px) {
      .column-2 {
          margin-top: 20px;
      }
     
 }
  
