
.jumbotron {
    background-color: #4ABDAC;
    
}
.container {
    text-align: center;
    width: 100%;
    
}

.row-one {
    width: 50%;
    text-align: center;
    padding: 40px; 
    display: inline; 
}
.row {
     
}
h2 {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px; 
    padding-right: 30px;
}
h1 {
    font-family: 'Mansalva', cursive;
    padding: 10px; 
}
p, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

.icons {
    font-size: 16px; 
    
}

i {
    text-align: center; 
}
a {
    background-color:#F7C331;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  a:hover {
    background-color: #FC4A1A;
    color: white;
    text-decoration: none; 
  }

  #submit-button {
    background-color: #4ABDAC;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  #submit-button:hover{
      background-color: #F7C331; 
  }
  #reset-button {
    background-color:gray;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
  }

  #reset-button:hover{
      background-color: #F7882F;
  }

  #container-2 {
    
    margin-top: 60px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
  }
  #container-3 {
      background-color: #4ABDAC;
      width: 100%;
      height: 500px; 
  }

  .column-1{
      background-image: url("tomatoes.jpg");
  }
  input {
      padding: 10px; 
      width: 100%; 
      margin-bottom: 10px;   
  }

  form {
    padding: 20%;
  }
  .column-2{
      background-image: url(pantry.jpg);
      min-height: 600px;
      height: auto;
  }
  .food-text-style {
      color: white; 
      font-family: 'Mansalva', cursive;
      font-size: 24px; 
  }
  #pantry-div {
      margin: 20px; 

  }

 @media only screen and (max-width: 900px) {
      .column-2 {
          margin-top: 20px;
      }
     
 }
  

  
